div {
  color: blue;
}

.task-list {
  max-width: 600px;
}

.task {
  vertical-align: top;
}

.task-checkbox {
  display: inline-block;
  vertical-align: inherit;
  margin-left: 10px;
  margin-right: 10px;
}

.task-title {
  display: inline-block;
  max-width: 400px;
  width: 400px;
  vertical-align: inherit;
  color: black;
}

.task-time {
  vertical-align: inherit;
  margin-left: 10px;
  margin-right: 10px;
  color: #808080c4;
  font-size: 12px;
  font-weight: bold;
  float: right;
}

.clear-button {
  margin-left: auto;
  margin-right: 0px;
  color: black;
  text-align: right;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
