div {
  color: blue;
}

.task-list {
  max-width: 600px;
}

.task {
  vertical-align: top;
  border: 1px solid #c3c3c3;
  margin-bottom: 5px;
  border-radius: 6px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding-top: 10px;
  padding-bottom: 10px;
}

.task-checkbox {
  display: inline-block;
  vertical-align: inherit;
  margin-left: 10px;
  margin-right: 10px;
}

.task-title {
  display: inline-block;
  max-width: 400px;
  width: 400px;
  vertical-align: inherit;
  color: black;
}

.task-time {
  vertical-align: inherit;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
  font-weight: bold;
  float: right;
}

.task-creation-time {
  color: #808080c4;
}

.task-completion-time {
  color: black;
}

.alight-resetter {
  clear: both;
}

.clear-button {
  margin-left: auto;
  margin-right: 0px;
  color: black;
  text-align: right;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
